* {
    margin-left: auto;
    margin-right: auto;
    width: 80%;


}

#container {
    border: 5px solid #230672 ;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    margin: auto;
}

#head {
    background: #1240AB;
    padding: 20px;
    height: 100%;
    width: auto;
}

#content {
    margin-top: auto;
overflow: hidden;
    padding: 10px;
}

.leftBlock {
    background: #009999;
    padding: 10%;
    height: auto;
    width: auto;

}

